body {
    box-sizing: border-box;
    margin: 0;
}

nav {
    font-family: 'Epilogue', sans-serif;
    margin: 35px 40px 0 40px;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.inner-nav {
    margin: 0 0 0 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.inner-nav a {
    text-decoration: none;
    margin: 0 20px 0 20px;
}

.inner-nav a,
.inner-nav a:visited,
.inner-nav button {
    color: hsl(0, 0%, 41%);
}

.inner-nav a:hover,
.inner-nav button:hover {
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

.inner-nav>span>button {
    border: 2px solid hsl(0, 0%, 41%);
    width: 120px;
    height: 50px;
    background-color: white;
    border-radius: 12px;
    font-family: 'Epilogue', sans-serif;
    margin: 0 0 0 20px;
}

.inner-nav>span>button>a {
    margin: 0;
    font-size: 15px;
}

#icon-down1,
#icon-down2,
#icon-down1D,
#icon-down2D {
    padding: 0 0 2px 4px;
}

/* Above is the nav for desktop */

#article {
    display: flex;
    margin: 3em 15% 0 15%;
    flex-wrap: wrap;
}

.article-left,
.article-right {
    flex: 1;
}

.article-left h1,
.article-left p {
    font-family: 'Epilogue', sans-serif;
}

.article-left h1 {
    font-size: 85px;
    margin: 0.6em 0.5em 0 0;
}

.article-left p {
    font-size: 18px;
    color: hsl(0, 0%, 41%);
    margin: 2em 7em 0.5em 0;
}

.article-left button {
    background-color: hsl(0, 0%, 8%);
    color: white;
    width: fit-content;
    height: 60px;
    font-size: 20px;
    border-radius: 12px;
    font-family: 'Epilogue', sans-serif;
    margin: 2em 0 0 0;
    padding: 0 25px 0 25px;
}

.article-left button:hover {
    background-color: white;
    color: hsl(0, 0%, 8%);
}

.icon-images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px
}

.article-right {
    display: flex;
    justify-content: center;
}

.article-right img {
    width: 24em;
    box-sizing: border-box;
    object-fit: contain;
}

#navForMobile {
    display: none;
}

/* desktop version is done */
#menu-1,
#menu-2,
#menu-1D,
#menu-2D {
    position: relative;
}

#toDropDown-1,
#toDropDown-2,
#toDropDown-1D,
#toDropDown-2D {
    display: none;
}

.pop {
    display: initial !important;
    position: absolute;
    left: -40px;
    top: 20px;
    border-radius: 10px;
    height: 180px;
    width: 150px;
    border: 1px solid rgb(234, 234, 234);
    background-color: hsl(0, 0%, 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    z-index: 10;
    display: flex;
}

#toDropDown-2,
#toDropDown-2D {
    height: 140px;
}

.pop>p {
    margin: 25px 0 0 20px;
    display: flex;
    align-items: center;
}

.pop>p>img {
    margin: 0 15px 0 0;
}

@media screen and (max-width:1440px) {
    #article {
        display: flex;
        margin: 1.5em 15% 0 15%;
        padding-bottom: 2em;
    }
}

@media screen and (max-width:1100px) {
    .icon-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 50px;
        margin-left: 50px;
    }

    #article {
        margin: 3em 10% 0 10%;
    }

    .article-right img {
        height: 80%;
    }

}

@media screen and (max-width:880px) {

    .hidden {
        display: none;
    }

    .shown {
        display: initial;
    }

    #navForDesktop {
        display: none;
    }

    #navForMobile {
        display: flex;
        font-family: 'Epilogue', sans-serif;
        margin: 35px 40px 0 40px;
        align-items: center;
        font-size: 15px;
        justify-content: space-between;
    }

    #ham-menu {
        margin-right: 30px;
        height: 25px;
    }

    #ham-menu-close {
        height: 40px;
        position: absolute;
        top: 25px;
        right: 70px;
    }

    #mobileSideMenu {
        position: absolute;
        height: 200vh;
        width: 30rem;
        background-color: hsl(0, 0%, 98%);
        top: 0;
        right: 0;
    }

    #article {
        flex-direction: column-reverse;
        margin-left: 0;
        margin-right: 0;
    }

    .article-right>img {
        content: url(images/image-hero-mobile.png);
        width: 70%;
    }

    .article-left {
        text-align: center;
    }

    .article-left p {
        margin: 2em 4em 0.5em 4em;
    }

    .icon-images {
        display: flex;
        margin: 40px 50px 0 50px;
    }

    .inner-nav {
        display: grid;
        grid-template-columns: 1fr;
        margin: 3em 2em 0 1em;
        font-size: 30px;
        height: 250px;
    }

    .inner-nav span {
        display: grid;
        margin-left: 40px;
        grid-template-columns: 1fr;
    }

    .inner-nav>span>a {
        margin: 45px 0 0 0;
    }

    .inner-nav>span>button {
        margin: 45px 0 0 0;
    }

    .inner-nav>span:nth-child(2) {
        margin: 30px 0px 0px 0px;
        flex-wrap: wrap;
        width: min-content;
        display: flex;
        justify-content: center;
        justify-self: center;
    }

    #toDropDown-1 {
        display: none;
        height: 250px;
        width: 250px;
    }

    #toDropDown-2 {
        height: 190px;
        width: 230px;
    }

}

@media screen and (max-width:500px) {

    .icon-images {
        margin: 40px 20px 0 20px;
    }

    #ham-menu {
        margin-right: 10px;
        height: 25px;
    }

    #mobileSideMenu {
        width: 20rem;
    }
}

@media screen and (max-width:400px) {
    body {
        margin: 0;
    }

    #ham-menu {
        margin-right: -20px;
        height: 25px;
    }

    #mobileSideMenu {
        width: 20rem;
        right: -22px;
    }

}